<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}{% endblock %}</title>
        <link href="assets/bootstrap.min.css" rel="stylesheet">
        <link href="assets/main.css" rel="stylesheet">
    </head>
    <body>
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="./">GE/PD Function Explorer</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="dropdown{% if game == 'ge' %} active{% endif %}">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">GoldenEye <span class="caret"></span></a>
							<ul class="dropdown-menu">
								{% for loop_stage in ge_stages %}
									<li{% if game == 'ge' and loop_stage['id'] == stage['id'] %} class="active"{% endif %}><a href="{{ loop_stage.url }}">{{ loop_stage.fullname }}</a></li>
								{% endfor %}
							</ul>
						</li>
						<li class="dropdown{% if game == 'pd' %} active{% endif %}">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Perfect Dark <span class="caret"></span></a>
							<ul class="dropdown-menu">
								{% for loop_stage in pd_stages %}
									<li{% if game == 'pd' and loop_stage['id'] == stage['id'] %} class="active"{% endif %}><a href="{{ loop_stage.url }}">{{ loop_stage.fullname }}</a></li>
								{% endfor %}
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		{% block content %}{% endblock %}

		<script src="assets/jquery.min.js"></script>
		<script src="assets/bootstrap.min.js"></script>
    </body>
</html>
